.contact-us {
  margin-top: 80px;
  .title {
    padding: 2rem 5% 4rem;
    color: #153a5b;

    h1 {
      margin: 2.23333rem 0 1.75rem 0;
      font-size: 32px;
      text-align: center;
      letter-spacing: 0.25px;
      text-align: center;
    }
  }

  .contact-info {
    text-align: center;
    width: 100%;
    margin: 0 auto 6.725rem;
    display: block;
    padding: 0 5%;

    .email {
        display: inline-block;
        cursor: pointer;
        &:hover {
            color: #5a5e60;
        }
    }

    h2 {
      margin-bottom: 1.6rem;
      color: #153a5b;
    }

    p {
      color: #5a5e60;
      margin-bottom: 2.25rem;
    }
  }
}

@media (min-width: 724px) {
  .contact-us {
    .title {
      h1 {
        font-size: 40px;
      }
    }
  }
}

@media (min-width: 960px) {
  .contact-us {
    .title {
      h1 {
        font-size: 55px;
      }
    }

    .contact-info {
      h2 {
        font-size: 1.53333rem;
      }
      p {
        font-size: 20px;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 2.25rem;
      }
    }
  }
}
