.header {
  transition: transform 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000000000;

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(-100%);
  }

  .hover-shop-all:hover {
    border-bottom: 2px solid #153a5b;
  }

  .hover-shop-all:hover .shop-all-section {
    display: block;
  }

  .shop-all-section {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 20px 50px;

    .shop-all-section-content {
      display: flex;
      gap: 150px;
    }

    &.show {
      display: block;
    }

    .secondary-links {
      a {
        color: #153a5b;
      }

      .explore-all-btn {
        padding: 11px 5px;
        font-size: 12px;
        font-weight: bold;
        background-color: #fff;
        border: 1px solid #d9e2e9;
        border-radius: 50px;
        margin-bottom: 15px;

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
        }
      }

      .first-links {
        margin-bottom: 40px;
        li {
          margin-bottom: 10px;
          font-size: 13px;
        }
      }

      .second-links {
        li {
          font-size: 13px;
        }
        li:first-child {
          color: #5a5e60;
          font-size: 10px;
          padding-bottom: 15px;
        }
      }
    }

    .technologies {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;

      .sideImg {
        background-size: cover;
        background-position: center;
        padding: 0 35px 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 45vh;

        .text {
          color: #fff;
          margin-top: 50px;
          text-align: center;
          span {
            font-weight: normal;
          }
        }

        &.sideImg1-clean {
          background-image: url(../img/sideImg1-clean.jpg);
        }
        &.sideImg2-clean {
          background-image: url(../img/sideImg2-clean.jpg);
        }
        &.sideImg3-clean {
          background-image: url(../img/sideImg3-clean.jpg);
        }
      }
    }
  }

  .hover-purification:hover .purification-section {
    display: block;
  }

  .hover-purification:hover {
    border-bottom: 2px solid #153a5b;
  }

  .purification-section {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 20px 50px;

    .secondary-links {
      .explore-purification-btn {
        padding: 11px 5px;
        font-size: 12px;
        font-weight: bold;
        background-color: #fff;
        border: 1px solid #d9e2e9;
        border-radius: 50px;
        margin-bottom: 15px;

        a {
          display: flex;
          color: #153a5b;
          justify-content: space-between;
          align-items: center;
          gap: 5px;
        }
      }

      .first-links {
        margin-bottom: 20px;
        li {
          margin-bottom: 10px;
          font-size: 13px;
        }
      }

      .second-links {
        li {
          font-size: 13px;
        }
        li:first-child {
          color: #5a5e60;
          font-size: 10px;
          padding-bottom: 15px;
        }
      }
    }

    .purification-section-content {
      display: flex;
      gap: 150px;
    }

    &.show-purification {
      display: block;
    }

    .products {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;

      .product-img {
        background-size: cover;
        background-position: center;
        padding: 0 55px 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 45vh;
        background-color: #e6e6e6;

        .text {
          text-align: center;

          span {
            font-weight: normal;
          }
        }

        &.product-img1 {
          background-image: url(../img/product-img1.webp);
        }
        &.product-img2 {
          background-image: url(../img/product-img2.webp);
        }
        &.product-img3 {
          background-image: url(../img/product-img3.webp);
        }
      }
    }
  }

  .hover-home:hover .home-section {
    display: block;
  }

  .hover-home:hover {
    border-bottom: 2px solid #153a5b;
  }

  .home-section {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 20px 50px;

    &.show-home {
      display: block;
    }

    .home-section-content {
      display: flex;
      gap: 150px;
    }

    .home-products {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;

      .home-product-img {
        background-size: cover;
        background-position: center;
        padding: 0 70px 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 45vh;
        background-color: #e6e6e6;

        .text {
          text-align: center;
          h4 {
            line-height: 35px;
          }
          p {
            line-height: 30px;
          }
          p,
          span {
            font-weight: normal;
          }
        }

        &.home-product-img1 {
          background-image: url(../img/home-product1.webp);
        }
        &.home-product-img2 {
          background-image: url(../img/home-product2.webp);
        }
      }
    }

    .secondary-links {
      .explore-home-btn {
        padding: 11px 5px;
        font-size: 12px;
        font-weight: bold;
        background-color: #fff;
        border: 1px solid #d9e2e9;
        border-radius: 50px;
        margin-bottom: 15px;

        a {
          display: flex;
          color: #153a5b;
          justify-content: space-between;
          align-items: center;
          gap: 5px;

          span {
            padding: 5px;
          }
        }
      }

      .first-links {
        margin-bottom: 20px;
        li {
          margin-bottom: 10px;
          font-size: 13px;
        }
      }

      .second-links {
        li {
          font-size: 13px;
        }
        li:first-child {
          color: #5a5e60;
          font-size: 10px;
          padding-bottom: 15px;
        }
      }
    }
  }

  .hover-drinkware:hover .drinkware-section {
    display: block;
  }

  .hover-drinkware:hover {
    border-bottom: 2px solid #153a5b;
  }

  .drinkware-section {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 20px 50px;

    .secondary-links {
      .explore-drinkware-btn {
        padding: 11px 5px;
        font-size: 12px;
        font-weight: bold;
        background-color: #fff;
        border: 1px solid #d9e2e9;
        border-radius: 50px;
        margin-bottom: 15px;

        a {
          display: flex;
          justify-content: space-between;
          color: #153a5b;
          align-items: center;
          gap: 5px;

          span {
            padding: 5px;
          }
        }
      }

      .first-links {
        margin-bottom: 20px;
        li {
          margin-bottom: 10px;
          font-size: 13px;
        }
      }

      .second-links {
        li {
          font-size: 13px;
        }
        li:first-child {
          color: #5a5e60;
          font-size: 10px;
          padding-bottom: 15px;
        }
      }
    }

    .drinkware-section-content {
      display: flex;
      gap: 150px;
    }

    &.show-drinkware {
      display: block;
    }

    .drinkware-products {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;

      .drinkware-product-img {
        background-size: cover;
        background-position: center;
        padding: 0 50px 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 45vh;
        background-color: #e6e6e6;

        .text {
          text-align: center;

          span {
            font-weight: normal;
          }
        }

        &.drinkware-product-img1 {
          background-image: url(../img/drinkware-product1.webp);
        }
        &.drinkware-product-img2 {
          background-image: url(../img/drinkware-product2.webp);
        }
        &.drinkware-product-img3 {
          background-image: url(../img/drinkware-product3.webp);
        }
      }
    }
  }

  .icon {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    span {
      position: absolute;
      top: -9px;
      right: -13px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 9px;
      background-color: #153a5b;
      color: #fff;
      width: 15px;
      height: 15px;
    }
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  .navigation {
    display: none;
  }

  .logo-wrapper {
    width: 100px;
    svg {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .header-content {
    padding-left: clamp(
      1.6rem,
      calc(1.6rem + (56) * ((100vw - 428px) / (1920 - 428))),
      5.33333rem
    ) !important;
    padding-right: clamp(
      1.6rem,
      calc(1.6rem + (56) * ((100vw - 428px) / (1920 - 428))),
      5.33333rem
    ) !important;
  }
  .icon {
    display: none;
  }

  .navigation {
    display: flex !important;
    align-items: center !important;
    li {
      padding: 10px 15px;
      font-size: 14px;
      color: #153a5b;
      font-weight: bold;
      cursor: pointer;
    }

    .cart-length {
      position: relative;

      span {
        position: absolute;
        right: -6px;
        top: 13px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        background-color: #153a5b;
        color: #fff;
        width: 15px;
        height: 15px;
      }
    }
  }
}
