:root {
  --primary-padding: clamp(
    1.6rem,
    calc(1.6rem + (56) * ((100vw - 428px) / (1920 - 428))),
    5.33333rem
  );
  --secondary-padding: clamp(2.5rem, 1.667rem + 3.704vw, 5rem);
  --primary-font-size: clamp(
    1.33333rem,
    calc(1.33333rem + (10) * ((100vw - 428px) / (1920 - 428))),
    2rem
  );
  // clamp(1.33333rem, calc(1.33333rem + (10) * ((100vw - 428px) / (1920 - 428))), 2rem)
  --secondary-font-size: clamp(
    2.13333rem,
    calc(2.13333rem + (32) * ((100vw - 428px) / (1920 - 428))),
    4.26667rem
  );
  --primary-blue: #153a5b;
}

.home {
  position: relative;
  padding-bottom: 20px;
  // padding: var(-primary-padding);

  .home-main-img {
    background-image: url(../img/home-img.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    padding: 4rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(21, 58, 91, 0) 0%,
        rgba(21, 58, 91, 0) 33.33%,
        rgba(21, 58, 91, 0.1) 66.67%,
        rgba(21, 58, 91, 0.8) 100%
      );
    }

    .text {
      position: absolute;
      z-index: 200;
      h1 {
        font-size: clamp(1.875rem, 0.268rem + 7.143vw, 3.75rem);
        margin-bottom: clamp(1.875rem, 1.667rem + 0.926vw, 2.5rem);
      }
      p {
        font-size: clamp(1.25rem, 1.198rem + 0.231vw, 1.406rem);
      }

      button {
        padding: 12px 16px;
        display: flex;
        font-size: 15px;
        font-weight: bold;
        gap: 15px;
        transition: 0.8s;
        background-color: #fff;
        margin-top: clamp(1.875rem, 1.667rem + 0.926vw, 2.5rem);
        color: var(--primary-blue);
        border: none;
        border-radius: 75px;

        &:hover {
          scale: 1.03;
          gap: 18px !important;
          svg {
            color: var(--primary-blue) !important;
          }
        }

        svg {
          color: #5a5e60;
          transition: 0.8s;
        }
      }
    }
  }

  .reviews-wrapper {
    // padding-left: clamp(
    //   1.6rem,
    //   calc(1.6rem + (56) * ((100vw - 428px) / (1920 - 428))),
    //   5.33333rem
    // );
    // padding-right: clamp(
    //   1.6rem,
    //   calc(1.6rem + (56) * ((100vw - 428px) / (1920 - 428))),
    //   5.33333rem
    // );
    padding: 0 var(--primary-padding);
    margin-top: 40px;

    .rating {
      display: flex;
      justify-content: space-between;
      color: var(--primary-blue);
      margin-bottom: clamp(1.875rem, 0.023rem + 9.259vw, 2.5rem);
      .rating-title {
        font-size: clamp(
          2.13333rem,
          2.13333rem + 32 * ((100vw - 428px) / 1492),
          4.26667rem
        );
        line-height: clamp(
          3.2rem,
          3.2rem + 32 * ((100vw - 428px) / 1492),
          5.33333rem
        );
        margin-bottom: clamp(0.375rem, 0.325rem + 0.25vw, 0.625rem);
      }

      .rating-stars {
        color: #f3756d;
      }

      .rating-total {
        a:hover {
          color: #5a5e60;
        }
      }

      .all-reviews-btn {
        button {
          padding: 12px 16px;
          font-weight: bold;
          font-size: 16px;
          color: var(--primary-blue);
          background-color: #fff;
          display: flex;
          gap: 20px;
          border: 1px solid #d9e2e9;
          border-radius: 50px;
          transition: 0.8s;

          &:hover {
            scale: 1.03;
            gap: 23px;
          }

          svg {
            color: #5a5e60;
          }
        }
      }
    }

    .review-swiper-wrapper {
      // .swiper-button-prev {
      //   background-image: url(../img/bg-img.webp) !important;
      // }
      // .swiper-button-prev:after {
      //   content: "";
      // }

      .slide-inner {
        padding: 24px;
        display: flex;
        flex-direction: column;
        background-color: #f5f9fc;
        color: var(--primary-blue);
        min-height: 34vh;

        p {
          font-size: clamp(
            1.06667rem,
            calc(1.06667rem + (4) * ((100vw - 428px) / (1920 - 428))),
            1.33333rem
          );
          line-height: clamp(
            1.6rem,
            calc(1.6rem + (8) * ((100vw - 428px) / (1920 - 428))),
            2.13333rem
          );
          margin-bottom: clamp(3.75rem, 0.046rem + 18.519vw, 5rem);
        }

        .reviewer {
          width: 100px;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .shop-previews-wrapper {
    padding: 0 var(--primary-padding);
    margin-top: 40px;

    h1 {
      font-size: clamp(
        2.13333rem,
        calc(2.13333rem + (32) * ((100vw - 428px) / (1920 - 428))),
        4.26667rem
      );
      color: var(--primary-blue);
      margin-bottom: clamp(2.188rem, 1.92rem + 1.19vw, 2.5rem);
    }

    .shop-previews {
      display: flex;
      flex-direction: column;
      row-gap: 2.6rem;

      .shop-for-purification {
        color: var(--primary-blue);

        .shop-preview-img {
          width: 100%;

          &:hover img {
            scale: 1.016;
          }
          img {
            transition: 1s;
            border-radius: 10px;
            width: 100%;
          }
        }

        .shop-preview-text {
          text-align: center;

          .shop-preview-title {
            // font-size: clamp(1.625rem, 1.946rem + -1.429vw, 1.25rem);
            font-size: 24px;
            line-height: clamp(2.188rem, 1.92rem + 1.19vw, 2.5rem);
            margin: 1.3rem 0 0.6rem;
          }

          .shop-preview-link {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .features-wrapper {
    margin-top: 40px;
    padding: 0 var(--primary-padding);

    .features-content {
      padding: 5.3rem var(--secondary-padding);
      background-color: #fdf8f8;
      display: flex;
      flex-direction: column;
      row-gap: 4.6rem;

      .features-section {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        .features-img {
          width: 13%;
          margin: 0 auto;

          svg {
            width: 100%;
          }
        }

        .features-section-text {
          text-align: center;
          color: var(--primary-blue);
          .features-section-title {
            font-size: clamp(
              1.33333rem,
              calc(1.33333rem + (10) * ((100vw - 428px) / (1920 - 428))),
              2rem
            );
            font-weight: bold;
            margin-top: clamp(1.063rem, 0.902rem + 0.714vw, 1.25rem);
            margin-bottom: clamp(1.063rem, 0.902rem + 0.714vw, 1.25rem);
          }
        }
      }
    }
  }

  .products-swiper-wrapper {
    padding: 0 var(--primary-padding);
    margin-top: 40px;

    .swiper-wrapper {
      gap: 15px;
    }

    .swiper {
      position: relative;

      .swiper-btn-prev {
        position: absolute;
        top: 40%;
        left: 0;
        z-index: 999;
      }

      .swiper-btn-next {
        position: absolute;
        top: 40%;
        right: 0;
        z-index: 999;
      }
    }

    .trending {
      margin-bottom: 40px;
      color: #153a5b;
      font-size: var(--primary-font-size);
    }

    .slide-inner {
      background-color: #f5f6fa;
      margin-bottom: 30px;
      .img-wrapper {
        width: 100%;
        img {
          width: 100%;
        }
      }

      .product-text {
        color: var(--primary-blue);
        text-align: center;
        padding: 10px 0;
      }

      .color-swiper-wrapper {
        padding: 0 20px;
        text-align: center;

        .product-price {
          color: var(--primary-blue);
          font-size: clamp(
            0.93333rem,
            0.93333rem + 2 * ((100vw - 428px) / 1492),
            1.06667rem
          );
        }

        .color-swiper-slide-wrapper {
          .color-wrapper {
            width: 100% !important;

            img {
              width: 100% !important;
            }
          }
        }

        .swiper-button-disabled {
          display: none;
        }
      }
    }
  }

  .basq-magazines {
    padding: 0 var(--primary-padding);
    // padding-left: var(--primary-padding);
    margin: 80px 0;
    .explore-basq {
      .explore-wrapper {
        margin-bottom: clamp(2.188rem, 1.92rem + 1.19vw, 2.5rem);
        .title-and-description {
          color: var(--primary-blue);

          h1 {
            margin-bottom: 1rem;
            font-size: var(--primary-font-size);
          }
        }
        .explore-button {
          button {
            margin-top: 32px;
            border: 2px solid #d9e2e9;
            border-radius: 50px;
            background-color: #fff;
            a {
              color: var(--primary-blue);
              display: flex;
              align-items: center;
              gap: 10px;
              font-weight: bold;
              transition: all 0.8s;
              padding: 12px 16px;
              font-size: 16px;

              svg {
                color: #5a5e60;
              }

              &:hover {
                gap: 13px;
                scale: 1.02;
              }
            }
          }
        }
      }

      .magazine-swiper {
        .swiper {
          position: relative;

          .swiper-btn-prev {
            position: absolute;
            top: 40%;
            left: 0;
            z-index: 999;
          }

          .swiper-btn-next {
            position: absolute;
            top: 40%;
            right: 0;
            z-index: 999;
          }
        }

        .slide-inner {
          margin-bottom: 30px;
          min-width: 400px;
          a {
            color: var(--primary-blue);

            .magazine-img-wrapper {
              // width: 100%;
              margin-bottom: 10px;
              img {
                // width: 100%;
                border-radius: 15px;
              }
            }

            .magazine-description {
              p {
                margin-bottom: 8px;
                font-weight: 600;
                font-size: clamp(
                  1.06667rem,
                  calc(1.06667rem + (4) * ((100vw - 428px) / (1920 - 428))),
                  1.33333rem
                );
              }
              span {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 780px) {
  .shop-previews-wrapper {
    h1 {
      font-size: 43px !important;
    }

    .shop-previews {
      flex-direction: row !important;
      column-gap: 2.6rem;

      .shop-preview-text {
        .shop-preview-title {
          font-size: 20px !important;
        }
      }
    }
  }

  .features-content {
    flex-direction: row !important;
    row-gap: 0 !important;
    column-gap: 5.3rem;

    .features-img {
      width: 50px !important;
    }
  }

  .explore-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-and-description {
      width: 70%;
    }
    // gap: 40px;
    .explore-wrapper {
      .explore-button {
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .products-swiper-wrapper {
    .trending {
      font-size: 55px !important;
    }
  }
}

@media (min-width: 1440px) {
  .swiper-slide {
    .slide-inner {
      background-color: #fff !important;
      min-width: 300px;
      p {
        font-size: 18px !important;
      }
    }
  }

  .reviewer {
    margin-top: auto;
  }

  .reviews-wrapper {
    display: flex;
    // justify-content: space-between;
    gap: 40px;

    .rating {
      flex-direction: column;
    }
  }
}
