:root {
  --primary-blue: #153a5b;
}

.product-details {
  .product-details-inner {
    .product-swiper {
      .img-wrapper {
        width: 100%;
        background-color: #f7f7f7;

        img {
          width: 100%;
        }
      }
    }

    .product-info {
      margin: 0px auto;
      max-width: 30.6667rem;
      width: 100%;
      padding: 2rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      color: var(--primary-blue);

      .product-title {
        h1 {
          font-size: 1.6rem;
        }
      }
    }
  }
}
