@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "./_header";
@import "./_home";
@import "./_side-menu";
@import "./_cart";
@import "./_footer";
@import "./_shop";
@import "./_productDetails";
@import "./_login";
@import "./_register";
@import "./_contact";
@import "./_press";
@import "./_ourStory";
@import "./_support";
@import "./_productFaqs";
@import "./_checkOut";

body {
  font-family: "Open Sans", sans-serif;
  // font-family: Value ;

  &.menu-open {
    overflow: hidden;
  }

  &.cart-open {
    overflow-y: hidden;
  }

  &.modal-open {
    overflow: hidden !important;
  }
}

.checkout-header {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 39px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  .logo-wrapper {
    width: 120px;
  }
}

.hot-toast {
  margin-top: 70px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Open Sans", sans-serif;
}

@media (min-width:550px) {
  .checkout-header {
    justify-content: flex-start !important;

    .logo-wrapper {
      width: 130px;
    }
  }
}